version: 2.1

orbs:
  heroku: circleci/heroku@0.0.8

jobs: # a collection of steps
  build: # runs not using Workflows must have a `build` job as entry point
    # working_directory: ~/mern-starter
    docker: # run the steps with Docker
      - image: circleci/node:9.6.1 # ...with this image as the primary container; this is where all `steps` will run
    steps: # a collection of executable commands
      - checkout # special step to check out source code to working directory
      - run:
          name: update-npm
          command: 'sudo npm install -g npm@latest'
      - run:
          name: install-npm-wee
          command: npm install
      - run: # run tests
          name: test
          command: npm test
  deploy:
    executor: heroku/default
    steps:
      - checkout
      - heroku/install
      - heroku/deploy-via-git:
          only-branch: master
